<ion-header>
  <ion-navbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
            Info
        </ion-list-header>
        <ion-item>Nome:</ion-item>
    </ion-list>

    <ion-list *ngIf="coursesInfo">
        <ion-list-header>
            Cursos
        </ion-list-header>
        <ion-item *ngFor="let course of coursesInfo">
            <button ion-button (click)="goToLevelPerf(course.courseId)">
                {{ course.courseName }}
            </button>
        </ion-item>
    </ion-list>
</ion-content>
