page-home {

}

ion-card-header
{
    background-color: black;
    color: white !important;
}

ion-card-content
{
    padding-top: 13px !important;
}

.media-btns
{
    height: 50px;
    width: 50px;
}

.media-btns ion-icon
{
    font-size: 200%;
}