page-home {

}

ion-card-header
{
    background-color: color($colors, main);
    color: white !important;
}

ion-card-content
{
    padding-top: 13px !important;
    border: 0px;
}

.btn-help
{
    background-color: color($colors, main);
}



.media-btns
{
    height: 50px;
    width: 50px;
}

.media-btns ion-icon
{
    font-size: 200%;
}