<ion-header>
  <ion-navbar>
    <ion-title>
      Curso de Libras
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

    <ul *ngIf="coursesInfo">
        <li *ngFor="let course of coursesInfo">
            <ion-card text-center>
                <ion-card-content>
                <h1>{{ course.courseName }}</h1>
                <p class="subtitle">
                    {{ course.courseDesc }}
                </p>
                <button ion-button (click)="navigate(course.courseId, course.courseName)">Começar</button>
                </ion-card-content>
            </ion-card>
        </li>
    </ul>
</ion-content>
