page-levels {

}

.levels
{
    list-style-type: none !important;
    padding: 0px;
    margin-top: 0px;
}

.btn-lvls
{
    margin: 10px 0px 10px 0px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.btn-lvls:first-of-type
{
    margin-top: 0px;
}